<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}
<h1>Finance</h1>
    <h3>Choose your stock code from the drop down list, below</h3>
    <select id='stock' onchange="callback('getStock',this.value)">
        <option value="MSFT">Microsoft</option>
        <option value="FB">Facebook</option>
        <option value="AAPL">Apple</option>
        <option value="GOOGL">Google</option>
    </select>
    <div id="chart" class="chart" style="border: 1px solid;padding:10px;  box-shadow: 5px 5px 4px #888888;"></div>
{% endblock %}