<!-- Extends base.html -->
{% extends "dashboard_base.html" %}
{% block header %}
<!-- Include the plugin's CSS and JS: -->



{% endblock %}
{% block content %}
<div class="container">
    <select id="stocks" multiple="multiple" onchange="callback('getStock')">
        {% for stock in STOCKS %}
            <option value="{{stock}}">{{stock}}</option>
        {% endfor %}
    </select>
</div>
<div class="container">

        <div id="chart" class="chart"></div>

</div>

 
{% endblock %}

{% block scripts %}
<!-- Initialize the plugin: -->
<!-- Bootstrap Multiselect CSS -->

<!-- Initialize the plugin: -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#stocks').multiselect();
    });
</script>
<script>
    async function callback(endpoint) {
        var selected = [];
        for (var option of document.getElementById('stocks').options)
        {
            if (option.selected) {
                selected.push(option.value);
            }
        }
        let response = await fetch("/callback/" + endpoint + "?data=" + selected);
        if (response.ok) {
            let json = await response.json();
            if (endpoint == "getStock") {
                Plotly.newPlot('chart', json, {});
                response = await fetch("/callback/getInfo?data=" + data);
                json = await response.json();
                info(json);
            }
        } else {
            alert("Choose a stock!");
        }
    }
    function buildList(options, listId) {
        var s = document.getElementById(listId);

        for (var i = 0; i < options.length; i++) {
            var opt = options[i];
            var el = document.createElement("option");
            el.text = opt;
            el.value = opt;
            s.add(el);
        }
    }
    </script>
{% endblock %}