<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <table class="table table-bordered table-striped mt-3" id="table_id">
      <thead>
        <tr class="table-header">
            <th>Details</th>
            <th>Sentiment Label</th>
        </tr>
      </thead>
      <tbody>
        {% for post in POSTS %}
        <tr>
            <td>{{post[0]}}</a></td>
            <td>{{post[1]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
</div>
&nbsp;
<div class="container">
  <form action="/" method="GET" class="mb-3">
    <button class="back-btn btn btn-dark animation-on-hover btn-round">Back to Home</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
      $('#table_id').DataTable();
  });
</script>
{% endblock %}