<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="center">
        <form action="/dashboard" method="GET" class="mb-3">
            <button class="dashboard btn btn-dark animation-on-hover btn-round">Head to Dashboard</button>
        </form>
        <form action="/data" method="GET" class="mb-3">
            <button class="dashboard btn btn-dark animation-on-hover btn-round">View Posts</button>
        </form>
        <form action="/create_db" method="GET" class="mb-3">
            <button class="btn btn-dark animation-on-hover btn-round">CREATE DB</button>
        </form>
    </div>
</div>
{% endblock %}